<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>New Device Created</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <h1>New Device Created With Outside Limits</h1>
  <p>A new device has been created Outside limits with the following details:</p>
  <table>
    <tr>
      <th>Part Number </th>
      <th>Indentifier 1</th>
      <th>Indentifier 2</th>
      <th>Indentifier 3</th>
    </tr>
    <tr>
      <td>{{deviceNumber1}}</td>
      <td>{{deviceNumber2}}</td>
      <td>{{deviceNumber3}}</td>
      <td>{{deviceNumber4}}</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Lower Limit</td>
      <td>{{lowerlimit}}</td>
    </tr>
    <tr>
      <td>Upper Limit</td>
      <td>{{upperlimit}}</td>
    </tr>

    <tr>
      <td>Parameter 1</td>
      <td>{{parameter1}}</td>
    </tr>
    <tr>
      <td>Parameter 2</td>
      <td>{{parameter2}}</td>
    </tr>
    <tr>
      <td>Parameter 3</td>
      <td>{{parameter3}}</td>
    </tr>
    <tr>
      <td>Parameter 4</td>
      <td>{{parameter4}}</td>
    </tr>
    <tr>
      <td>Parameter 5</td>
      <td>{{parameter5}}</td>
    </tr>
    <tr>
      <td>Parameter 6</td>
      <td>{{parameter6}}</td>
    </tr>
    <tr>
      <td>Parameter 7</td>
      <td>{{parameter7}}</td>
    </tr>
    <tr>
      <td>Parameter 8</td>
      <td>{{parameter8}}</td>
    </tr>
    <tr>
      <td>Parameter 9</td>
      <td>{{parameter9}}</td>
    </tr>
    <tr>
      <td>Parameter 10</td>
      <td>{{parameter10}}</td>
    </tr>
  </table>
</body>
</html>
